#rightbar-container {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background-color: #351f39;
  z-index: 1;
  height: 100vh;
  color: white;
  padding: 10px 0px 0px;
  justify-content: center;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-top: 50px;
}
.inside-container {
  display: flex;
  flex-direction: column;
}
.text-right {
  margin-top: 10px;
}
.text-right1 {
  margin-top: 10px;
  padding-left: 29px;
}